extends layout

block content
  form(action="/new" method="POST")
      p Author Name:
        input(type="text" name="messageUser" placeholder="Author Name")
      p Message:
        input(type="text" name="messageText" placeholder="Message")
      input(type="submit")
